
/* CSS Document */


/* ---------------------------------------------------------------------- */
/* Theme Information
/* ----------------------------------------------------------------------
Name: Exquiso
Description: Responsive Multi-Purpose Theme
Version: 1.0
Author: Ixtendo
Author URI: http://www.ixtendo.com
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Media Queries
/* ---------------------------------------------------------------------- */
/* Standard 960 or larger (browsers) */
@media only screen and (min-width: 960px) {
	
}
/* ---------------------------------------------------------------------- */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	
	/* Tiny Nav */

    .js .tinynav { 
		display: block; 
	}
	
    .js #navlist { 
		display: none; 
	}
	
	#nav, .tinynav {
		width: 370px;
	}
	
	/* Header */
	
	#header {
		margin-bottom: 30px;	
	}
}
/* ---------------------------------------------------------------------- */
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	/* Container */ 
	
	.container {
		width: 748px;	
	}
	
	/* Carousel */
	
	.project-carousel > li,
	.iconbox-wrap .one-fourth {
		margin-right: 44px;
	}
	
	/* Icon Boxes */
	
	.iconbox-wrap {
		margin-right: -44px;	
	}
	
	/* Related Posts */
	
	.related-posts .post-carousel > li {
		width: 172px;
		margin-right: 20px;
	}
	
	/* About Us */
	
	.team-member.one-fourth {
		width: 172px;
		margin-right: 20px;
	}
	
	/* Clients */
	
	.clients {
		margin: 0 -20px 20px 0;
	}
	
	.clients li {
		width: 168px;
		margin: 0 20px 20px 0;
	}
	
	/* FlexSlider */
	
	.flex-caption {
		bottom: 91px;	
	}
	
	/* Portfolio */
	
	ul.portfolio-grid > li.one-fourth {
		width: 172px;	
	}
	
	ul.portfolio-grid > li.one-third {
		width: 236px;
	}
	
	ul.portfolio-grid > li.one-half {
		width: 364px;
	}
	
}
/* ---------------------------------------------------------------------- */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	
	/* Slider */

    .flex-caption {
		display: none;	
	}
	
	/* Columns */
	
	.one-half, .one-third, .one-fourth, .two-thirds, .three-fourths {
		float: none;
		display: block;
		margin-right: 0;
		width: 100%;
		max-width: none;
	}
	
	/* Floats */
	
	.float-left, .float-right {
		float: none;	
	}
	
	/* Containers */
	
	#main, #sidebar {
		margin-bottom: 40px;	
	}
	
	/* Header */
	
	#logo {
		float: none;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	#logo a, #logo img {
		display: inline-block;	
	}
	
	/* Footer */
	
	#footer-top > .container > div {
		margin-top: 40px;
	}
	
	#footer-bottom > .container > div {
		margin-top: 20px;
	}
	
	#footer-top > .container > div:first-child,
	#footer-bottom > .container > div:first-child {
		margin-top: 0;
	}
	
	#footer .social-links {
		float: none;
	}

	/* About Us */
	
	.team-member.one-fourth {
		width: 100%;
		margin-right: 0;
	}
	
	/* Images */
	
	.entry-image.float-left, .float-left.caption,
	.entry-image.float-right, .float-right.caption {
		margin: 20px 0;	
	}
	
	/* Comment Form and Contact Form */
	
	#comment-form input, .content-form input {
		width: 80%;
	}
	
	#comment-form textarea, .content-form textarea, .content-form select {
		width: 90%;
	}
	
	/* Icon Boxes */
	
	.iconbox-wrap {
		margin-right: 0;	
	}
	
	.iconbox-wrap .one-fourth {
		float: none;
		margin: 0 auto;	
	}
	
	/* Clients */
	
	.clients {
		margin: 0 -10px 10px 0;
	}
	
	.clients li {
		margin: 0 10px 10px 0;
	}
	
	/* Breadcrumbs */
	
	#breadcrumbs {
		display: none;	
	}
	
	/* Infobox */
	
	.infobox div.with-button {
		display: block;	
	}
	
	.infobox .button {
		display: none;
	}

	.infobox .mobile-button {
		float: none;
		display: inline-block;
		margin-left: 0;
		margin-top: 20px;
	}
	
	/* Pricing Tables */
	
	.pricing-table {
		margin-left: 0;
	}
	
	.pricing-table.one-fourth, .pricing-table.one-third {
		max-width: 100%;
		width: 100%;
	}
	
	/* Carousel */
	
	ul.portfolio-grid {
		margin-right: 0;
	}
	
	/* Portfolio Grid */
	
	ul.portfolio-grid > li {
		float: none;
		max-width: 100%;
		margin-right: 0;
	}
	
}
/* ---------------------------------------------------------------------- */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	/* Container */
	
	.container {
		width: 420px;
	}
	
	/* Carousel */
	
	.project-carousel > li {
		width: 200px;	
	}
	
	/* Portfolio Grid */
	
	ul.portfolio-grid > li.one-fourth {
		margin-left: 100px;
		margin-right: 100px;
	}
	
	ul.portfolio-grid > li.one-third {
		margin-left: 60px;
		margin-right: 60px;
	}
	
	/* Clients */
	
	.clients li {
		width: 129px;
	}
	
}

/* ---------------------------------------------------------------------- */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	
	/* Container */
	
	.container {
		width: 300px;	
	}
	
	/* Carousel */
	
	.project-carousel > li {
		margin-left: 40px;
		margin-right: 40px;
	}
	
	/* Portfolio Grid */
	
	ul.portfolio-grid > li.one-fourth {
		margin-left: 40px;
		margin-right: 40px;
	}

	/* Clients */
	
	.clients li {
		width: 141px;
	}
	
	/* Flexslider */
	
	.flex-direction-nav a {
		height: 87px;
		margin-top: -43px;	
	}
	
	/* Revolution Slider */
	
	.tp-leftarrow, .tp-rightarrow {
		height: 70px;
		margin-top: -35px /* half the height */	
	}
	
	/* Tiny Nav */
	
	#nav, .tinynav {
		width: 250px;
	}
	
}